	
/* ================= Table of Contents ==================

	1. Basic Styling
		1.1 Common Elements
		1.2 Common Classes
		1.3 Button & Input
		1.4 Fonts
		1.5 Loading Effect
		1.6 Flex Slider Settings
	2. Header
		2.1 Overview
		2.2 Navigations
		2.3 Hamburger Menu
	3. Footer
		3.1 Overview
	4. Animations
		4.1 Bounce Animation
	N. End of Base Styles

==================================================== */

/* ====================================================

	1. Basic Styling

==================================================== */

	/* ================================================
		1.1 Common Elements
	================================================ */

		*{
			margin: 0;
			padding: 0;
			-webkit-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			box-sizing: border-box;
		}
		body{
			height: auto;	
			text-align: left;
			font-family: sans-serif;	
			line-height: 1.5;
			padding-top: 120px;
		}
		h1, h2, h3, h4, h5, h6, strong{
			font-weight: normal;
		}
		h1{
			font-size: 2em;
			font-size: 92px;
		}
		h2{
			font-size: 1.5em;
			font-size: 60px;
		}
		h3{
			font-size: 1.17em;
			font-size: 48px;
		}
		h4{
			font-size: 1.12em;
			font-size: 36px;
		}
		h5{
			font-size: .83em;
			font-size: 24px;
		}
		h6{
			font-size: .75em;
			font-size: 18px;
		}
		p{
			font-size: 18px;
			line-height: 24px;
			color: #8f8f8f;
		}
		a{
			color: inherit;
			text-decoration: none;
		}
		.wrapper{
			width: 1440px;
			margin: 0 auto;
		}

	/* ================================================
		1.2 Common Classes
	================================================ */

		.wid-1-1{
			width: 100%;
		}
		.wid-1-2{
			width: 50%;
		}
		.wid-1-3{
			width: 33.33%;
		}
		.wid-1-4{
			width: 25%;
		}
		.wid-1-5{
			width: 20%;
		}
		.wid-3-10{
			width: 30%;
		}
		.wid-2-3{
			width: 66.66%;
		}
		.wid-2-5{
			width: 40%;
		}			
		.wid-3-4{
			width: 75%;
		}			
		.wid-3-5{
			width: 60%;
		}
		.wid-4-5{
			width: 80%;
		}
		.wid-65{
				width: 65%;
		}
		.wid-35{
			width: 35%;
		}
		.wid-7-10{
			width: 70%
		}
		.wid-a{
			width: auto;
		}
		.mar-0-a{
			margin: 0 auto;
		}
		.dis-inl{
			display: inline;
		}
		.f-left{
			float: left;
		}
		.f-right{
			float: right;
		}
		.dis-b{
			display: block;
		}
		.dis-n{
			display: none;
		}
		.dis-i-b{
			display: inline-block;
		}
		.v-a-top{
			vertical-align: top;
		}
		.v-a-mid{
			vertical-align: middle;
		}
		.v-a-bot{
			vertical-align: bottom;
		}
		.v-cover{
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
		    display: table;
			z-index: 9;
		}
		.v-one{
			height: auto;
		    width: 100%;
		    margin: auto;
		    top: 0;
		    bottom: 0;
		    display: table-cell;
		    vertical-align: middle;
		}
		.l-s-n{
			list-style: none;
		}
		.t-a-l{
			text-align: left;
		}
		.t-a-c{
			text-align: center;
		}
		.t-a-r{
			text-align: right;
		}
		.t-a-j{
			text-align: justify;
		}
		.cover-img{
			background: url(../images/icons/no-image/logo-bg.png) no-repeat center center;
	  		background-position: center center;
	  		-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-ms-background-size: cover;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.cover-img img{
			width: 100%;
			height: auto;
			display: block;
		}
		.h-100vh{
			height: 100vh;
		}
		.w-100vw{
			width: 100vw;
		}
		.pos-abs{
			position: absolute;
		}
		.pos-rel{
			position: relative;
		}
		.z-index-99{
			z-index: 99;
		}
		.pad-0{
			padding: 0;
		}
		.mar-0{
			margin: 0;
		}
		.mar-0-a{
			margin: 0 auto;
		}
		.opa-0{
			-webkit-opacity: 0;
			-moz-opacity: 0;
			filter: alpha(opacity=0);
			-khtml-opacity: 0;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			opacity: 0;
		}
		.opa-1{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			filter: alpha(opacity=100);
			-khtml-opacity: 1;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			opacity: 1;
		}
		.b-r-0,
		input, select, textarea{
			-webkit-border-radius: 0%;
	        -moz-border-radius: 0%;
	        -o-border-radius: 0%;
	        -ms-border-radius: 0%;
	        border-radius: 0%;
		}
		.b-r-2,
		.sub-logo p:after{
			-webkit-border-radius: 2px;
	        -moz-border-radius: 2px;
	        -o-border-radius: 2px;
	        -ms-border-radius: 2px;
	        border-radius: 2px;
		}
		.b-r-4{
			-webkit-border-radius: 4px;
	        -moz-border-radius: 4px;
	        -o-border-radius: 4px;
	        -ms-border-radius: 4px;
	        border-radius: 4px;
		}
		.b-r-10{
			-webkit-border-radius: 10px;
	        -moz-border-radius: 10px;
	        -o-border-radius: 10px;
	        -ms-border-radius: 10px;
	        border-radius: 10px;
		}
		.b-r-20{
			-webkit-border-radius: 20px;
	        -moz-border-radius: 20px;
	        -o-border-radius: 20px;
	        -ms-border-radius: 20px;
	        border-radius: 20px;
		}
		.b-r-40{
			-webkit-border-radius: 40px;
	        -moz-border-radius: 40px;
	        -o-border-radius: 40px;
	        -ms-border-radius: 40px;
	        border-radius: 40px;
		}
		.b-r-100,
		.flex-direction-nav .flex-prev,
		.flex-direction-nav .flex-next,
		.flex-control-nav li a,
		#newsSingle .title p.date:before,
		#newsSingle .title p.date:after{
			-webkit-border-radius: 100%;
	        -moz-border-radius: 100%;
	        -o-border-radius: 100%;
	        -ms-border-radius: 100%;
	        border-radius: 100%;
		}
		.text-shadow{
			-webkit-text-shadow: 1px 0px 0px rgba(0,0,0,.4);
	        -moz-text-shadow: 1px 0px 0px rgba(0,0,0,.4);
	        -o-text-shadow: 1px 0px 0px rgba(0,0,0,.4);
	        -ms-text-shadow: 1px 0px 0px rgba(0,0,0,.4);
	        text-shadow: 1px 0px 0px rgba(0,0,0,.4);
		}
		.b-s-none{
			-moz-box-shadow: none;
	  		-webkit-box-shadow: none;
	  		-o-box-shadow: none;
	  		-ms-box-shadow: none;
	  		box-shadow: none;
		}
		.of-vis{
			overflow: visible;
		}
		.of-hid{
			overflow: hidden;
		}
		.of-auto{
			overflow: auto;
		}
		.t-t-u{
			text-transform: uppercase;
		}
		.t-t-l{
			text-transform: lowercase;
		}
		.t-d-ul{
			text-decoration: underline;
		}
		.bg-trans{
			background: transparent;
		}
		.cur-pointer{
			cursor: pointer;
		}
		.color-inherit{
			color: inherit;
		}
		.trans-all,
		input, select, textarea,
		.flex-control-nav li a,
		button:before,
		button:after,
		.menuBtn:after{
			-webkit-transition: all 0.2s;
	        -moz-transition: all 0.2s;
	        -o-transition: all 0.2s;
	        -ms-transition: all 0.2s;
	        transition: all 0.2s;
		}
		.color-white{
			color: #FFFFFF;
		}
		.color-p{
			color: #EA008B;
		}
		.color-b{
			color: #691F7D;
		}
		.color-black{
			color: #000000;
		}

	/* ================================================
		1.3 Button & Input
	================================================ */

		button{
			border: none;
			outline: none;
			cursor: pointer;
		}
		input, select, textarea{
			border: none;
			outline: none;
			resize: none;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    -o-appearance: none;
		    -ms-appearance: none;
		    appearance: none;
		}
		button::-moz-focus-inner,
		input::-moz-focus-inner,
		select::-moz-focus-inner,
		textarea::-moz-focus-inner{
		  	outline: none !important;
		}
		select:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		textarea{
			-webkit-appearance: textarea;
			-moz-appearance: textarea;
			-o-appearance: textarea;
			-ms-appearance: textarea;
			appearance: textarea;
			-webkit-rtl-ordering: logical;
			-moz-rtl-ordering: logical;
			-o-rtl-ordering: logical;
			-ms-rtl-ordering: logical;
			rtl-ordering: logical;
	    	-webkit-user-select: text;
	    	-moz-user-select: text;			
	    	-o-user-select: text;			
	    	-ms-user-select: text;			
	    	user-select: text;
		}
		textarea::-ms-expand{
			display: none;
		}
		.ie textarea{
		}
		::placeholder {
			color: rgba(255,255,255,.4);
			opacity: 1;
		}
		:-ms-input-placeholder {
			color: rgba(255,255,255,.4);
		}
		::-ms-input-placeholder {
			color: rgba(255,255,255,.4);
		}
		input, select, textarea{
			height: 80px;
			line-height: 80px;
			border: solid;
			background: transparent;
			border-color: rgba(255,255,255,.06);
			border-bottom-color: rgba(255,255,255,.48); 
			border-width: 4px;
			display: block;
			padding: 0 20px;
			font-size: 20px;
			color: #FFFFFF;
		}
		textarea{
			padding: 20px;
			line-height: 30px;
			height: 280px;
			display: block;
		}
		select:focus,
		input:focus,
		textarea:focus{
			outline: none;
			border-bottom-color: #FFFFFF;
			color: #FFFFFF;
		}
		select{
			background: #FFFFFF url(../images/icons/contact-select.svg) right center no-repeat;
		}
		select[disabled]{
			background: #FFFFFF url(../images/primary/icons/common/select-disabled.svg) right center no-repeat;
		}
		button,
		input[type="submit"]{
			color: #FFFFFF;
			height: 80px;
			line-height: 80px;
			padding: 0 102px 0 60px;
			font-size: 20px;
			letter-spacing: 4px;
			background: transparent;
			border: solid 4px;
			border-color: #D8D8D8;
	        cursor: pointer;
	        -webkit-border-radius: 40px;
	        -moz-border-radius: 40px;
	        -o-border-radius: 40px;
	        -ms-border-radius: 40px;
	        border-radius: 40px;
	        position: relative;
		}
		button:before,
		button:after,
		input[type="submit"]:before,
		input[type="submit"]:after{
			position: absolute;
			content: '';
		}
		button:before,
		input[type="submit"]:before{
			height: 4px;
			width: 40px;
			right: 40px;
			top: 37px;
			background: #EA008B;
		}
		button:after,
		input[type="submit"]:after{
			height: 0;
			width: 0;
			top: 34px;
			right: 34px;
			border-left: solid;
			border-left-width: 10px;
			border-left-color: #EA008B;
			border-top: solid;
			border-bottom: solid;
			border-top-width: 5px;
			border-bottom-width: 5px;
			border-top-color: transparent;
			border-bottom-color: transparent;
		}
		button:hover:before,
		input[type="submit"]:hover:before{
			right: 30px;
			background: #FFFFFF;
		}
		button:hover:after,
		input[type="submit"]:hover:after{
			right: 24px;
			border-left-color: #FFFFFF;
		}
		button:hover,
		input[type="submit"]:hover,
		button:active,
		button:focus,
		input[type="submit"]:active,
		input[type="submit"]:focus{
			background: #EA008B;
			border-color: #EA008B;
			color: #FFFFFF;
		}		

	/* ================================================
		1.4 Fonts
	================================================ */

		.din-black{
			font-family: 'din-black', sans-serif;
		}
		.din-regular{
			font-family: 'din-regular', sans-serif;
		}	
		.din-light{
			font-family: 'din-light', sans-serif;
		}
		.avenir-black{
			font-family: 'avenir-black', sans-serif;
		}
		.avenir-medium{
			font-family: 'avenir-medium', sans-serif;
		}
		.avenir-roman{
			font-family: 'avenir-roman', sans-serif;
		}
		.avenir-heavy,
		nav ul li a{
			font-family: 'avenir-heavy', sans-serif;
		}
		.avenir-book{
			font-family: 'avenir-book', sans-serif;
		}
		.avenir-light{
			font-family: 'avenir-light', sans-serif;
		}

	/* ================================================
		1.5 Loading Effect
	================================================ */

		#loaderMain{
			height: 100vh;
			width: 100vw;
			position: fixed;
			z-index: 99999999 !important;
			top: 0;
			left: 0;
			background: #EDEDED;
		}
		.loadingBox{
			height: 30px;
			width: 12px;
			position: absolute;
			top: 50%;
			margin-top: -15px;
			left: 50%;
			margin-left: -6px;
		}
		.loadingBox ul{
			overflow: hidden;
			height: 40px;
			position: relative;
		}
		.loadingBox ul li{
			width: 6px;
			position: absolute;
			bottom: 0;
			height: 6px;
			transition-timing-function: ease-in;
		   	-webkit-transition-timing-function: ease-in;
		   	-moz-transition-timing-function: ease-in;
		   	-webkit-animation-name: loadingEffect;
		   	-moz-animation-name: loadingEffect;
		   	-o-animation-name: loadingEffect;
		   	-webkit-animation-duration: 1s;
	    	-webkit-animation-iteration-count: infinite;
	    	-moz-animation-duration: 1s;
	    	-moz-animation-iteration-count: infinite;
	    	-o-animation-duration: 1s;
	    	-o-animation-iteration-count: infinite;
	    	animation-duration: 1s;
	    	animation-iteration-count: infinite;
	    	list-style: none;	    	
		}
		.loadingBox ul li:after{
			position: absolute;
			content: '';
			height: 6px;
			width: 6px;
			top: 0;
			left: 0;
			-webkit-border-radius: 100%;
	        -moz-border-radius: 100%;
	        -o-border-radius: 100%;
	        -ms-border-radius: 100%;
	        border-radius: 100%;
		}
		.loadingBox ul li:nth-child(1){
			left: 0;
		}
		.loadingBox ul li:nth-child(1):after{
			background: #EA008B;
		}
		.loadingBox ul li:nth-child(2){			
			left: 6px;
			-webkit-animation-delay: .1s;
			-moz-animation-delay: .1s;
			-o-animation-delay: .1s;
			animation-delay: .1s;
		}
		.loadingBox ul li:nth-child(2):after{
			background: #691F7D;
		}
		@-webkit-keyframes loadingEffect{
			0% { height: 10px; }
			50%{ height: 30px; }
			100% { height: 10px; }
		}
		@-moz-keyframes loadingEffect{
			0% { height: 10px; }
			50%{ height: 30px; }
			100% { height: 10px; }
		}
		@-o-keyframes loadingEffect{
			0% { height: 10px; }
			50%{ height: 30px; }
			100% { height: 10px; }
		}
		@-ms-keyframes loadingEffect{
			0% { height: 10px; }
			50%{ height: 30px; }
			100% { height: 10px; }
		}
		@keyframes loadingEffect{
			0% { height: 10px; }
			50%{ height: 30px; }
			100% { height: 10px; }
		}
		#loader{
		    width: 100%;
		    display: none;
		}
		#loader,
		#loaderProgress{
		    position: fixed;
		    z-index: 999999999;
		    top: 0;
		    left: 0;
		    height: 4px;		    
		}
		#loaderProgress{
			z-index: 100;
		    width: 0;
		    background: #EA008B;
		    -webkit-transition: all 4s;
		    -moz-transition: all 4s;
		    -o-transition: all 4s;
		    -ms-transition: all 4s;
		    transition: all 4s;
		}

	/* ================================================
		1.6 Flex Slider Settings
	================================================ */

		.flex-control-nav{
			width: 100%;
			height: 12px;
			display: block;
			position: absolute;
			text-align: center;
			z-index: 99;
			bottom: -102px;
			z-index: 12;
		}
		.flex-control-nav li{									
			margin: 0 10px;
			display: inline-block;
			vertical-align: top;
			list-style: none;
		}
		.flex-control-nav li a{
			display: block;
			position: relative;
			height: 12px;
			width: 12px;
			line-height: 12px;	
			background: #AAAAAA;
	        color: transparent;
	        cursor: pointer;
		}
		.flex-control-nav li a.flex-active{		
			background: #EA008B;
		}
		.flex-direction-nav a{
			display: block;
			width: 32px;
			height: 32px;
			z-index: 9;
			position: absolute;
			top: 50%;
			margin-top: -16px;
			text-shadow: none;
			color: transparent;
			outline: none;
		}
		.flex-direction-nav a,
		.flex-direction-nav .flex-prev,
		.flex-direction-nav .flex-next{
			cursor: pointer;
		}
		.flex-direction-nav li{
			list-style: none;
		}
		.flex-direction-nav .flex-prev{
			left: 10px;
			background: url(../images/icons/slider/left.svg) no-repeat 50% 50%;
		}
		.flex-direction-nav .flex-next{
			right: 10px;
			background: url(../images/icons/slider/right.svg) no-repeat 50% 50%;			
		}
		.flex-direction-nav .flex-prev,
		.flex-direction-nav .flex-next{
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			-moz-opacity: 0;
			-khtml-opacity: 0;
			opacity: 0;
			position: absolute;
			-webkit-transition: all 0.2s;
	        -moz-transition: all 0.2s;
	        -o-transition: all 0.2s;
	        -ms-transition: all 0.2s;
	        transition: all 0.2s;
	        list-style: none;
	        -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        -moz-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        -o-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        -ms-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		}

/* ====================================================

	2. Header

==================================================== */

	/* ================================================
		2.1 Overview
	================================================ */

		header{
			position: fixed;
			top: 0;
			left: 0;
			z-index: 9999999;
			padding: 40px 80px;
			border-bottom: solid 1px;
			border-color: transparent;
			background: #FFFFFF;
			border-color: #D8D8D8;
			-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	       	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	        -o-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	        -ms-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	        box-shadow: 0px 0px 1px rgba(0,0,0,.1);
		}
		header.homepage{
			margin-top: 30px;
			border-color: transparent;
			background: transparent;
			-webkit-box-shadow: none;
	       	-moz-box-shadow: none;
	        -o-box-shadow: none;
	        -ms-box-shadow: none;
	        box-shadow: none;
		}
		header.fixed{
			margin-top: 0;			
		}
		header .logo{
			width: 240px;
		}
		header .logo img{
			height: 32px;
		}
		header .menu-holder{
			width: -webkit-calc(100% - 240px);
	        width: -moz-calc(100% - 240px);
	        width: -o-calc(100% - 240px);
	        width: -ms-calc(100% - 240px);
	        width: calc(100% - 240px);
		}

	/* ================================================
		2.2 Navigations
	================================================ */

		nav{
			text-align: right;
		}
		nav .menu-header-menu-container,
		nav ul{
			display: inline-block;
		}
		nav ul li{
			margin: 0 auto;
			margin-left: 68px;
			list-style: none;
			display: inline-block;
			vertical-align: top;
		}
		nav ul li a{
			font-size: 24px;
			line-height: 32px;
			color: #EA008B;
			color: #691F7D;
		}
		nav ul li a:hover,
		nav ul li a.current,
		nav ul li.current-menu-item a{
			color: #691F7D;
			color: #EA008B;
		}

	/* ================================================
		2.3 Hamburger Menu
	================================================ */

		.menuBtn{
			background: #691F7D;
		}
		.menuBtn,
		.menuBtn:after{
			width: 30px;
			height: 30px;
		}
		.menuBtn{
			width: 30px;
			height: 30px;
			position: fixed;
			top: 24px;
			left: 20px;
			z-index: 99999999;
			display: none;
		}
		.menuBtn:after{
			position: absolute;
			content: '';
			top: -2px;
			left: -2px;
			border: solid 2px;
			border-color: transparent;
		}
		.menuBtn span{
			position: absolute;
			content: '';
			height: 2px;
			width: 16px;
			background: #FFFFFF;
			left: 7px;
		}
		.menuBtn span:nth-child(1){
			top: 8px;
		}
		.menuBtn span:nth-child(2){
			top: 14px;
		}
		.menuBtn span:nth-child(3){
			top: 20px;
		}
		.open:after{
			border-color: rgba(0,0,0,.32);
			border-color: #5A1C6A;
		}
		.open span{
			background: #FFFFFF;
			left: 9px;
		}
		.open span:nth-child(2){
			display: none;
		}
		.open span:nth-child(1){
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transform-origin: bottom left;
			-moz-transform-origin: bottom left;
			-o-transform-origin: bottom left;
			-ms-transform-origin: bottom left;
			transform-origin: bottom left;
		}
		.open span:nth-child(3){
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-o-transform-origin: top left;
			-ms-transform-origin: top left;
			transform-origin: top left;
		}


/* ====================================================

	3. Footer

==================================================== */
	
	/* ================================================
		3.1 Overview
	================================================ */

		footer{
			background: #691F7D;
		}
		footer .top{
			padding: 160px 0 80px 0;
		}
		footer .bottom{
			padding: 80px 0 80px 0;
			background: rgba(0,0,0,.1);
		}
		footer h4{
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 30px;
			color: #FFFFFF;
		}
		footer ul li{
			margin-bottom: 20px;
		}
		footer ul li:last-child{
			margin-bottom: 0;
		}
		footer ul li a{
			font-size: 30px;
			line-height: 1;
			color: rgba(255,255,255,.4);
		}
		footer ul li a:hover{
			color: #FFFFFF;
		}
		footer img{
			height: 20px;
			margin-bottom: 10px;
		}
		footer .bottom p{
			font-size: 18px;
			line-height: 30px;
			color: rgba(255,255,255,.4);
		}

/* ====================================================

	4. Animations

==================================================== */

	/* ================================================
		4.1 Bounce Animation
	================================================ */

		.bounce-animation{
			-webkit-animation: bounce 1.8s linear infinite;
			-moz-animation: bounce 1.8s linear infinite;
			-o-animation: bounce 1.8s linear infinite;
			-ms-animation: bounce 1.8s linear infinite;
			animation: bounce 1.8s linear infinite;
		}
		@-webkit-keyframes bounce {
		    0% { -webkit-transform: translateY(0px); }
		    50% { -webkit-transform: translateY(6px); }
		    100%   { -webkit-transform: translateY(0px); }
		}
		@-moz-keyframes bounce {
		    0% { -moz-transform: translateY(0px); }
		    50% { -moz-transform: translateY(6px); }
		    100%   { -moz-transform: translateY(0px); }
		}
		@-o-keyframes bounce {
		    0% { -o-transform: translateY(0px); }
		    50% { -o-transform: translateY(6px); }
		    100%   { -o-transform: translateY(0px); }
		}
		@-ms-keyframes bounce {
		    0% { -ms-transform: translateY(0px); }
		    50% { -ms-transform: translateY(6px); }
		    100%   { -ms-transform: translateY(0px); }
		}
		@keyframes bounce {
		    0% { transform: translateY(0px); }
		    50% { transform: translateY(6px); }
		    100%   { transform: translateY(0px); }
		}
		.wheelscroll {
			-moz-animation: wheelscroll 1.5s infinite;
			-webkit-animation: wheelscroll 1.5s infinite;
			animation: wheelscroll 1.5s infinite;
		}
		@-webkit-keyframes wheelscroll {
			0% { -webkit-opacity: 1; -webkit-transform: translateY(0px); }
			40% { -webkit-opacity: 1; }
			100% { -webkit-opacity: 0; -webkit-transform: translateY(6px); }			
		}
		@-moz-keyframes wheelscroll {
			0% { -moz-opacity: 1; -moz-transform: translateY(0px); }
			40% { -moz-opacity: 1; }
			100% { -moz-opacity: 0; -moz-transform: translateY(6px); }
		}
		@-o-keyframes wheelscroll {
			0% { -o-opacity: 1; -o-transform: translateY(0px); }
			40% { -o-opacity: 1; }
			100% { -o-opacity: 0; -o-transform: translateY(6px); }
		}
		@-ms-keyframes wheelscroll {
			0% { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -ms-transform: translateY(0px); }
			40% { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
			100% { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -ms-transform: translateY(6px); }
		}
		@keyframes wheelscroll {
			0% { opacity: 1; transform: translateY(0px); }
			40% { opacity: 1; }
			100% { opacity: 0; transform: translateY(6px); }
		}

/* ================================================
	
	N. End of Base Styles

================================================ */

