
/* =================== DIN FONT ================== */

@font-face {
    font-family: 'din-black';
    src: url('fonts/din-black/din-black.eot'),
            url('fonts/din-black/din-black.eot?#iefix') format('embedded-opentype'),
            url('fonts/din-black/din-black.woff2') format('woff2'),
            url('fonts/din-black/din-black.woff') format('woff'),
            url('fonts/din-black/din-black.ttf') format('truetype'),
            url('fonts/din-black/din-black.svg#din-black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-regular';
    src: url('fonts/din-regular/din-regular.woff2') format('woff2'),
            url('fonts/din-regular/din-regular.woff') format('woff'),
            url('fonts/din-regular/din-regular.ttf') format('truetype'),
            url('fonts/din-regular/din-regular.svg#din-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-light';
    src: url('fonts/din-light/din-light.woff2') format('woff2'),
            url('fonts/din-light/din-light.woff') format('woff'),
            url('fonts/din-light/din-light.ttf') format('truetype'),
            url('fonts/din-light/din-light.svg#din-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =================== AVENIR FONT ================== */

@font-face {
    font-family: 'avenir-black';
    src: url('fonts/avenir/Avenir-Black.eot');
    src: url('fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenir/Avenir-Black.woff2') format('woff2'),
        url('fonts/avenir/Avenir-Black.woff') format('woff'),
        url('fonts/avenir/Avenir-Black.ttf') format('truetype'),
        url('fonts/avenir/Avenir-Black.svg#Avenir-Black') format('svg');
}
@font-face {
    font-family: 'avenir-heavy';
    src: url('fonts/avenir/Avenir-Heavy.eot');
    src: url('fonts/avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenir/Avenir-Heavy.woff2') format('woff2'),
        url('fonts/avenir/Avenir-Heavy.woff') format('woff'),
        url('fonts/avenir/Avenir-Heavy.ttf') format('truetype'),
        url('fonts/avenir/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
}

@font-face {
    font-family: 'avenir-medium';
    src: url('fonts/avenir/Avenir-Medium.eot');
    src: url('fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenir/Avenir-Medium.woff2') format('woff2'),
        url('fonts/avenir/Avenir-Medium.woff') format('woff'),
        url('fonts/avenir/Avenir-Medium.ttf') format('truetype'),
        url('fonts/avenir/Avenir-Medium.svg#Avenir-Medium') format('svg');
}

@font-face {
    font-family: 'avenir-light';
    src: url('fonts/avenir/Avenir-Light.eot');
    src: url('fonts/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenir/Avenir-Light.woff2') format('woff2'),
        url('fonts/avenir/Avenir-Light.woff') format('woff'),
        url('fonts/avenir/Avenir-Light.ttf') format('truetype'),
        url('fonts/avenir/Avenir-Light.svg#Avenir-Light') format('svg');
}



