	
/* ================= Table of Contents ==================

	1. Home Page
		1.0 Overview
		1.1 Welcome
			1.1.1 Landing
			1.1.2 What we do
	N. End of Style

==================================================== */

/* ====================================================

	1. Home Page

==================================================== */

	/* ================================================
		1.0 Overview
	================================================ */

		#goToTop{
			position: fixed;
			bottom: 92px;
			right: 74px;
			height: 40px;
			width: 40px;
			background: #FFFFFF;
			border: solid 1px #E6E6E6;
			-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.16);
	        -moz-box-shadow: 0px 0px 12px rgba(0,0,0,.16);
	        -o-box-shadow: 0px 0px 12px rgba(0,0,0,.16);
	        -ms-box-shadow: 0px 0px 12px rgba(0,0,0,.16);
	        box-shadow: 0px 0px 12px rgba(0,0,0,.16);
	        padding-top: 14px;
	        z-index: 99;
	        display: none;
		}
		#goToTop img{
			height: 10px;
		}
		.read-more p{
			display: inline-block;
			width: auto;
			letter-spacing: 4px;
			font-size: 18px;
			line-height: 20px;
			padding-right: 68px;
			position: relative;			
		}
		.read-more p:before,
		.read-more p:after,
		ul.pagination li a{
			-webkit-transition: all 0.2s;
	        -moz-transition: all 0.2s;
	        -o-transition: all 0.2s;
	        -ms-transition: all 0.2s;
	        transition: all 0.2s;
		}
		.read-more p:before,
		.read-more p:after{
			position: absolute;
			content: '';			
		}		
		.read-more p:before{
			height: 4px;
			width: 40px;
			top: 7px;
			right: 5px;
			background: #EA008B;
		}
		.read-more p:after{
			height: 0;
			width: 0;
			right: 0;
			top: 4px;
			border-left: solid 10px #EA008B;
			border-top: solid 5px transparent;
			border-bottom: solid 5px transparent;
		}
		#news .inner:hover .read-more p:before,
		#careers .openings .one:hover .read-more p:before,
		#prevNext .one:hover .read-more p:before{
			right: -5px;
		}
		#news .inner:hover .read-more p:after,
		#careers .openings .one:hover .read-more p:after,
		#prevNext .one:hover .read-more p:after{
			right: -10px;
		}
		ul.pagination{
			text-align: center;
		}
		ul.pagination li{
			list-style: none;
			display: inline-block;
			vertical-align: top;
			margin: 4px;
			-webkit-border-radius: 4px;
	        -moz-border-radius: 4px;
	        -o-border-radius: 4px;
	        -ms-border-radius: 4px;
	        border-radius: 4px;
	        overflow: hidden;
		}
		ul.pagination li a{
			display: block;
			padding: 0 10px;
			background: blue;
			font-family: 'avenir-black', sans-serif;
			font-size: 13px;
			line-height: 28px;
			background: #F0F0F0;
			color: #EA008B;
		}
		ul.pagination li a:hover{
			background: #EA008B;
			color: #FFFFFF;
		}
		ul.pagination li.current a{
			background: #691F7D;
			color: #FFFFFF;
		}

	/* ================================================
		1.1 Home
	================================================ */

		/* ====== 1.1.1 Landing ====== */

			#homeLanding{
				margin-top: -120px;
			}
			#homeLanding .height{
		        height: 100vh;
			}
			#homeLanding .holder{
				max-width: 1200px;
				padding-top: -webkit-calc(50vh - 200px);
		        padding-top: -moz-calc(50vh - 200px);
		        padding-top: -o-calc(50vh - 200px);
		        padding-top: -ms-calc(50vh - 200px);
		        padding-top: calc(50vh - 200px);
			}
			#homeSlider{
				height: 400px;
				z-index: 5;
			}
			#particles-js{
				width: 100%;
				height: 100%;
				background-image: url('');
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				-ms-background-size: cover;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			canvas{
				display:block;
			}
			#homeLanding .icon{
				width: 400px;
				height: 400px;
			}
			#homeLanding .desc{
				width: -webkit-calc(100% - 400px);
		        width: -moz-calc(100% - 400px);
		        width: -o-calc(100% - 400px);
		        width: -ms-calc(100% - 400px);
		        width: calc(100% - 400px);
		        padding-left: 120px;
			}
			#homeLanding .icon img{
				position: absolute;
				top: 0;
				right: 0;
				height: 400px;
			}
			#homeLanding .desc h4{
				font-size: 48px;
				line-height: 60px;
				margin: 40px 0 20px 0;
			}
			#homeLanding .desc p{
				font-size: 30px;
				line-height: 40px;
				max-width: 680px;
				color: #242424;
			}
			#homeLanding .scroll{
				height: 68px;
				width: 46px;
				border: solid;
				border-width: 3px;
				border-color: #691F7D;
				position: absolute;
				background: rgba(255,255,255,.2);
				bottom: 68px;
				left: 50%;
				margin-left: -23px;
				-webkit-border-radius: 23px;
		        -moz-border-radius: 23px;
		        -o-border-radius: 23px;
		        -ms-border-radius: 23px;
		        border-radius: 23px;
		        z-index: 13;
			}
			#homeLanding .scroll .wheel{
				height: 8px;
			    width: 8px;
			    background: #EA008B;
			    margin-left: 14px;
			    margin-top: 10px;
			}
			#homeLanding .flex-control-nav li a{
				background: #691F7D;
			}
			#homeLanding .flex-control-nav li a.flex-active{
				background: #EA008B;
			}

		/* ====== 1.1.2 What we do ====== */

			#whatWeDo .holder{
				height: 720px;
			}
			#whatWeDo h1{
				font-size: 86px;
				line-height: 1;
				max-width: 960px;
			}

		/* ====== 1.1.3 Life at Daytona ====== */

			#lifeAtDaytona .holder{
				height: 960px;
			}
			#lifeAtDaytona img.bg-img{
				position: absolute;
				top: 0;
				right: 50%;
				height: 100%;
			}
			#lifeAtDaytona .img{
				width: 880px;
			}
			#lifeAtDaytona .desc{
				width: -webkit-calc(100% - 880px);
		        width: -moz-calc(100% - 880px);
		        width: -o-calc(100% - 880px);
		        width: -ms-calc(100% - 880px);
		        width: calc(100% - 880px);
			}
			#lifeAtDaytona .desc .description{
				padding-left: 120px;
			}
			#lifeSlider,
			#lifeAtDaytona .image{
				height: 600px;
			}
			.lifeSliderHolder {
				-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,.30);
		        -moz-box-shadow: 0px 0px 40px rgba(0,0,0,.30);
		        -o-box-shadow: 0px 0px 40px rgba(0,0,0,.30);
		        -ms-box-shadow: 0px 0px 40px rgba(0,0,0,.30);
		        box-shadow: 0px 0px 40px rgba(0,0,0,.30);
		        margin: 40px;
			}
			#lifeAtDaytona h2{
				font-size: 68px;
				line-height: 1;
				margin-bottom: 40px;
			}
			#lifeAtDaytona p{
				font-size: 30px;
				line-height: 40px;
				max-width: 420px;
			}

		/* ====== 1.1.4 Happy Employees ====== */

			#happyEmployees .holder{
				height: 1080px;
			}
			#happyEmployees .employeesSliderHolder{
				max-width: 1160px;
			}
			#happyEmployees .p-wrap{
				padding: 120px 0;
			}			
			#happyEmployees .p-wrap:before{
				content: url(../images/home/employees/quote-top-desktop.svg);
				top: 0;
				left: 0;
			}
			#happyEmployees .p-wrap:after{
				content: url(../images/home/employees/quote-bottom-desktop.svg);
				bottom: 0;
				right: 0;
			}
			#happyEmployees .p-wrap:before,
			#happyEmployees .p-wrap:after{
				position: absolute;
				height: 120px;
				width: 160px;
			}
			#happyEmployees .p-wrap p{
				max-width: 860px;
				font-size: 30px;
				line-height: 48px;
			}
			#happyEmployees .info{
				max-width: 480px;
			}
			#happyEmployees .img{
				height: 120px;
				width: 120px;
			}
			#happyEmployees .desc{
				width: -webkit-calc(100% - 120px);
		        width: -moz-calc(100% - 120px);
		        width: -o-calc(100% - 120px);
		        width: -ms-calc(100% - 120px);
		        width: calc(100% - 120px);
		        padding: 20px 0 0 60px;
			}
			#happyEmployees .desc p{
				font-size: 32px;
				line-height: 32px;
			}
			#happyEmployees .desc p span{
				font-size: 20px;
			}

		/* ====== 1.1.5 Careers ====== */

			#careers img.image,
			#services img.image{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: auto;
				z-index: -1;
			}
			#careers .holder{
				padding: 160px 0 120px 0;
				border-bottom: solid 1px #F0F0F0;
			}
			#careers .title h1,
			#news .title h1,
			#findUs .title h1,
			#sayHello .title h1,
			#services .title h1{
				font-size: 68px;
				line-height: 1;
				margin-bottom: 30px;
			}
			#careers .title p{
				font-size: 30px;
				line-height: 40px;
				max-width: 860px;
			}
			#careers .openings{
				max-width: 920px;
				margin: 0 auto;
				margin-top: 120px;
				margin-bottom: 120px;
				background: #FFFFFF;
				-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        -moz-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        -o-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        -ms-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        box-shadow: 0px 0px 30px rgba(0,0,0,.16);
			}
			#careers .openings .one{				
				border-bottom: solid 1px #D8D8D8;
			}
			#careers .openings .one:hover{
				background: #FAFAFA;
			}
			#careers .openings .one:last-child{
				border-bottom: none;
			}
			#careers .openings .one .post{
				padding: 60px;
			}
			#careers .openings .one .icon{
				height: 126px;
				width: 126px;
			}
			#careers .openings .one .icon img{
				width: 100%;
			}
			#careers .openings .one .desc{
				width: -webkit-calc(100% - 126px);
		        width: -moz-calc(100% - 126px);
		        width: -o-calc(100% - 126px);
		        width: -ms-calc(100% - 126px);
		        width: calc(100% - 126px);
		        padding-left: 68px;
			}
			#careers .openings .one .desc h4{
				font-size: 32px;
				line-height: 40px;
			}
			#careers .openings .one .desc p.defn{
				font-size: 18px;
				line-height: 26px;
				padding: 10px 0;
			}

		/* ====== 1.1.6 News & Events ====== */

			#news img.image{
				position: absolute;
				left: 0;
				width: 100%;
				top: 50%;
				margin-top: -540px;
				height: auto;
				z-index: -1;
			}
			#news .holder{
				padding: 160px 0 120px 0;
			}
			#news .allHolder{
				max-width: 1140px;
				padding-top: 200px;
				margin-top: -200px;
				margin-bottom: 120px;
			}
			#news .one{
				height: 540px;
				width: 540px;
				padding: 40px 30px;
				margin-right: 60px;
			}
			#news .one:nth-child(2n){
				margin-top: -200px;
				margin-right: 0;
			}
			#news .one .inner{
				height: 480px;
				width: 480px;
				background: #FFFFFF;
				-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.12);
		        -moz-box-shadow: 0px 0px 30px rgba(0,0,0,.12);
		        -o-box-shadow: 0px 0px 30px rgba(0,0,0,.12);
		        -ms-box-shadow: 0px 0px 30px rgba(0,0,0,.12);
		        box-shadow: 0px 0px 30px rgba(0,0,0,.12);
		        padding: 48px;
			}
			#news p.date{
				line-height: 60px;
				color: #8F8F8F;
				font-size: 14px;
			}
			#news p.date:after{
				position: absolute;
				content: '';
				height: 2px;
				width: 20px;
				background: #D8D8D8;
				left: 0;
				bottom: 0px;
			}
			#news h4{
				font-size: 24px;
				line-height: 36px;
				margin: 20px 0;
			}
			#news p.con{
				font-size: 18px;
				line-height: 26px;
				margin-bottom: 40px;
			}
			#news .inner:hover{
				-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.20);
		        -moz-box-shadow: 0px 0px 30px rgba(0,0,0,.20);
		        -o-box-shadow: 0px 0px 30px rgba(0,0,0,.20);
		        -ms-box-shadow: 0px 0px 30px rgba(0,0,0,.20);
		        box-shadow: 0px 0px 30px rgba(0,0,0,.20);
		        background: #FDFDFD;
			}

		/* ====== 1.1.7 Find Us ====== */

			#findUs .holder{
				padding: 120px 0 180px 0;
			}
			#findUs .g-map{
				height: 648px;
				width: 50%;
				margin-top: 60px;
				background: #F0F0F0;
			}
			#findUs .g-map button:before,
			#findUs .g-map button:after{
				display: none;
			}
			#findUs .info{
				position: absolute;
				top: 40px;
				right: 0;
				width: 50%;
				background: #FFFFFF;
				-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,.20);
		        -moz-box-shadow: 0px 0px 40px rgba(0,0,0,.20);
		        -o-box-shadow: 0px 0px 40px rgba(0,0,0,.20);
		        -ms-box-shadow: 0px 0px 40px rgba(0,0,0,.20);
		        box-shadow: 0px 0px 40px rgba(0,0,0,.20);
		        height: 1120px;
		        padding: 92px;
		        z-index: 11;
			}
			#findUs h4{
				font-size: 48px;
				line-height: 60px;
				margin-bottom: 60px;
				position: relative;
			}
			#findUs h4:after{
				position: absolute;
				content: '';
				width: 20px;
				height: 4px;
				background: #D8D8D8;
				bottom: -20px;
				left: 0;
			}
			#findUs ul{
				margin-bottom: 40px;
			}
			#findUs ul li .img{
				width: 32px;
			}
			#findUs ul li img{
				height: 32px;
				width: 32px;
			}
			#findUs ul li{
				margin-bottom: 20px;
			}
			#findUs ul li:last-child{
				margin-bottom: 0;
			}
			#findUs ul li .def{
				width: -webkit-calc(100% - 32px);
		        width: -moz-calc(100% - 32px);
		        width: -o-calc(100% - 32px);
		        width: -ms-calc(100% - 32px);
		        width: calc(100% - 32px);
		        padding-left: 60px;
			}
			#findUs ul li p{
				font-size: 20px;
				line-height: 28px;
			}
			#findUs .info .btn{
				position: absolute;
				bottom: 92px;
				right: 92px;
			}
			#findUs .info .btn .inner{
				text-align: right;
			}

		/* ====== 1.1.8 Say Hello ====== */

			#sayHello .holder{
				margin-top: -180px;
				padding: 160px 0;
				background-image: -webkit-linear-gradient(45deg, #EA008B, #691F7D);
				background-image: -moz-linear-gradient(45deg, #EA008B, #691F7D);
				background-image: -o-linear-gradient(45deg, #EA008B, #691F7D);
				background-image: -ms-linear-gradient(45deg, #EA008B, #691F7D);
				background-image: linear-gradient(45deg, #EA008B, #691F7D);
			}
			#sayHello .formholder{
				max-width: 920px;
				margin-top: 80px;
			}
			#sayHello .formholder br{
				display: none;
			}
			#sayHello .formholder input,
			#sayHello .formholder textarea{
				width: 100%;
				font-family: 'avenir-light', sans-serif;
			}
			#sayHello .formholder input{
				margin-bottom: 10px;
			}
			#sayHello .formholder input[type="submit"]{
				border-color: #FFFFFF;
				width: auto;
				margin-bottom: 0;
				font-family: 'avenir-black', sans-serif;
			}
			#sayHello .formholder .btn-holder{
				margin-top: 80px;
			}
			#sayHello .formholder .btn{
				position: relative;
			}
			#sayHello .formholder .btn:before,
			#sayHello .formholder .btn:after{
				position: absolute;
				content: '';
				-webkit-transition: all 0.2s;
		        -moz-transition: all 0.2s;
		        -o-transition: all 0.2s;
		        -ms-transition: all 0.2s;
		        transition: all 0.2s;
			}
			#sayHello .formholder .btn:before{
				height: 4px;
				width: 40px;
				right: 40px;
				top: 41px;
				background: #FFFFFF;
				z-index: 3;
			}
			#sayHello .formholder .btn:after{
				height: 0;
				width: 0;
				top: 38px;
				right: 34px;
				border-left: solid;
				border-left-width: 10px;
				border-left-color: #FFFFFF;
				border-top: solid;
				border-bottom: solid;
				border-top-width: 5px;
				border-bottom-width: 5px;
				border-top-color: transparent;
				border-bottom-color: transparent;
			}
			#sayHello .formholder .btn:hover:before{
				background: #EA008B;
				right: 30px;
			}
			#sayHello .formholder .btn:hover:after{
				right: 24px;
				border-left-color: #EA008B;
			}
			#sayHello .formholder input[type="submit"]:hover,
			#sayHello .formholder input[type="submit"]:active,
			#sayHello .formholder input[type="submit"]:focus{
				background: #FFFFFF;
				color: #EA008B;
				border-color: #FFFFFF;
			}
			#sayHello .formholder input.wpcf7-not-valid,
			#sayHello .formholder textarea.wpcf7-not-valid{
				border-bottom-color: red;
			}
			#sayHello .formholder span.wpcf7-not-valid-tip{
				display: none;
			}
			#sayHello .formholder div.wpcf7-validation-errors,
			#sayHello .formholder div.wpcf7-acceptance-missing,
			#sayHello .formholder div.wpcf7-mail-sent-ok,
			#sayHello .formholder div.wpcf7-response-output{
				border: solid 1px transparent !important;
				padding: 0 !important;
				margin: 0 !important;
				font-family: 'avenir-heavy', sans-serif;
				color: #FFFFFF;
			}

	/* ================================================
		1.2 What We Do
	================================================ */

		/* ====== 1.2.1 Services ====== */

			#services .holder{
				padding: 160px 0 120px 0;
			}
			#services .title p{
				font-size: 30px;
				line-height: 40px;
				max-width: 980px;
				margin-top: 20px;
				margin-bottom: 60px;
			}
			#services .services{
				padding: 20px 60px;
				margin-top: 120px;
			}			
			#services .all{
				background: #FFFFFF;
				-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        -moz-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        -o-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        -ms-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		        box-shadow: 0px 0px 30px rgba(0,0,0,.16);
			}
			#services .one{
				padding: 60px;
				border-bottom: solid 1px #F0F0F0;
			}
			#services .one:hover{
				background: #FAFAFA;
			}
			#services .one:last-child{
				border-bottom: none;
			}
			#services .one .icon{
				height: 200px;
				width: 200px;
			}
			#services .one .icon img{
				width: 100%;
			}
			#services .one .desc{
				width: -webkit-calc(100% - 200px);
		        width: -moz-calc(100% - 200px);
		        width: -o-calc(100% - 200px);
		        width: -ms-calc(100% - 200px);
		        width: calc(100% - 200px);
		        padding: 0 40px 0 80px;
			}
			#services .one .desc h4{
				font-size: 40px;
				line-height: 60px;
				margin-bottom: 40px;
			}
			#services .one .desc h4:after{
				position: absolute;
				content: '';
				height: 4px;
				width: 20px;
				background: #F0F0F0;
				left: 0;
				bottom: -20px;
			}
			#services .one .desc p{
				font-size: 24px;
				line-height: 38px;
				font-family: 'avenir-light', sans-serif;
			}
			#services .one .desc p strong{
				font-family: 'avenir-heavy', sans-serif;
			}

	/* ================================================
		1.3 Gallery
	================================================ */

		/* ====== 1.3.1 Albums ====== */

			#albums .overlay{
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-image: -webkit-linear-gradient(45deg, rgba(234, 0, 139, .8), rgba(105, 31, 125, .8));
				background-image: -moz-linear-gradient(45deg, rgba(234, 0, 139, .8), rgba(105, 31, 125, .8));
				background-image: -o-linear-gradient(45deg, rgba(234, 0, 139, .8), rgba(105, 31, 125, .8));
				background-image: -ms-linear-gradient(45deg, rgba(234, 0, 139, .8), rgba(105, 31, 125, .8));
				background-image: linear-gradient(45deg, rgba(234, 0, 139, .8), rgba(105, 31, 125, .8));
				-webkit-opacity: 0.1;
				-moz-opacity: 0.1;			
				filter: alpha(opacity=10);			
				-khtml-opacity: 0.1;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
				opacity: 0.1;
			}
			#albums .image:hover .overlay{
				-webkit-opacity: 1;
				-moz-opacity: 1;			
				filter: alpha(opacity=100);			
				-khtml-opacity: 1;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				opacity: 1;
			}
			#albums h4{
				position: absolute;
				bottom: -80px;
				left: 0;
				padding: 40px;
				font-size: 40px;
				line-height: 40px;
				-webkit-opacity: 0;
				-moz-opacity: 0;
				filter: alpha(opacity=0);
				-khtml-opacity: 0;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				opacity: 0;
			}
			#albums .image:hover h4{
				bottom: 0;
				-webkit-opacity: 1;
				-moz-opacity: 1;
				filter: alpha(opacity=100);
				-khtml-opacity: 1;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				opacity: 1;
			}
			#albums .btn-holder,
			#albums ul.pagination{
				padding: 120px 0;
			}

	/* ================================================
		1.4 Error 404
	================================================ */

		#error404 .holder{
			padding: 160px 0;
		}
		#error404 h1{
			font-size: 86px;
			line-height: 120px;
		}
		#error404 h4{
			font-size: 48px;
			line-height: 60px;
		}
		#error404 hr{
			outline: none;
			border: none;
			height: 80px;
			width: 2px;
			background: #F0F0F0;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 40px;
		}

	/* ================================================
		1.5 News - Single
	================================================ */

		#newsSingle{
			padding-bottom: 120px;
		}
		#newsSingle .col{
			padding-left: 40px;
			padding-right: 40px;
		}
		ul.breadcrumb{
			padding: 80px 0;
		}
		ul.breadcrumb li{
			position: relative;
			font-size: 14px;
			line-height: 20px;
			padding-right: 20px;
			color: #8F8F8F;
		}
		ul.breadcrumb li:after{
			position: absolute;
			content: "/";
			height: 20px;
			width: 20px;
			right: 0px;
			top: 0;
			text-align: center;
		}
		ul.breadcrumb li:last-child{
			padding-right: 0;
		}
		ul.breadcrumb li:last-child:after{
			display: none;
		}
		ul.breadcrumb li a:hover{
			color: #691F7D;
		}
		#newsSingle .title h1{
			font-size: 86px;
			line-height: 1;
		}
		#newsSingle .title p.date{
			position: relative;
			padding: 0 20px;
			font-size: 14px;
			line-height: 20px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		#newsSingle .title p.date:before,
		#newsSingle .title p.date:after{
			position: absolute;
			content: '';
			height: 6px;
			width: 6px;
			top: 8px;
			background: #D8D8D8;
		}
		#newsSingle .title p.date:before{
			left: 0;
		}
		#newsSingle .title p.date:after{
			right: 0;
		}
		#newsSingle .mainImage{
			padding-bottom: 40px;
		}
		ul.social{
			padding: 40px 0 60px 0;
		}
		ul.social li{
			margin-right: 10px;
		}
		ul.social li:last-child{
			margin-right: 0;
		}
		ul.social li img{
			height: 32px;
		}
		#prevNext{
			background: #FFFFFF;
			-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        -moz-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        -o-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        -ms-box-shadow: 0px 0px 30px rgba(0,0,0,.16);
	        box-shadow: 0px 0px 30px rgba(0,0,0,.16);
		}
		#prevNext .one{
			border-bottom: solid 1px #F0F0F0;
		}
		#prevNext .one:hover{
			background: #FAFAFA;
		}
		#prevNext .one:last-child{
			border-bottom: none;
		}
		#prevNext .one .inner{
			padding: 40px 60px 60px 60px;
		}
		#prevNext h2{
			font-size: 40px;
			line-height: 60px;
		}
		#prevNext p.date{
			font-size: 14px;
			line-height: 60px;
			position: relative;
		}
		#prevNext p.date:after{
			position: absolute;
			content: '';
			height: 2px;
			width: 20px;
			bottom: 0px;
			background: #D8D8D8;
			left: 0;
		}
		#prevNext h4{
			margin: 20px 0;
			font-size: 40px;
			line-height: 52px;
		}
		#prevNext p.desc{
			margin-bottom: 40px;
		}
		#prevNext h4,
		#prevNext p.desc{
			max-width: 860px;
		}

	/* ================================================
		1.5.5 Content - Text Editor
	================================================ */

		#content{
			color: #8F8F8F;
			font-family: 'avenir-book', sans-serif;
		}
		#content h1,
		#content h2,
		#content h3,
		#content h4{
			font-family: 'avenir-heavy', sans-serif;
			color: #444444;
		}
		#content p a{
			color: #EA008B;
		}
		#content p a:hover{
			color: #691F7D;
		}
		#content h1{
			font-size: 3em;
			line-height: 1.05em;
		}
		#content h2{
			font-size: 2.25em;
			line-height: 1.25em;
		}
		#content h3{
			font-size: 1.75em;
			line-height: 1.25em;
		}
		#content h4{
			font-size: 1.125em;
			line-height: 1.22222222em;
		}
		#content p{
			font-size: 1em;
			line-height: 1.6em;
		}		

	/* ================================================
		1.6 Careers - Single
	================================================ */

		.single-career-image img{
			height: 200px;
			margin-bottom: 60px;
		}
		.single-career-image h1{
			padding-bottom: 80px;
		}
		#applicationForm{
			margin: 0 auto;
			padding: 0 40px 60px 40px;
		}
		#applicationForm h4{
			margin-bottom: 80px;
			padding: 0 60px;
			font-size: 40px;
			line-height: 40px;
		}
		#applicationForm h4:before,
		#applicationForm h4:after{
			position: absolute;
			content: '';
			height: 2px;
			width: 28px;
			background: #D8D8D8;
			top: 20px;
		}
		#applicationForm h4:before{
			left: 0;
		}
		#applicationForm h4:after{
			right: 0;
		}
		#applicationForm input,
		#applicationForm textarea{
			color: #8F8F8F;
			border-color: #F8F8F8;
			border-bottom-color: #F0F0F0;
			width: 100%;
			font-family: 'avenir-heavy', sans-serif;
			margin-bottom: 10px;
		}
		#applicationForm input:focus,
		#applicationForm textarea:focus{
			border-bottom-color: #EA008B;
		}
		#applicationForm ::placeholder {
			color: #D8D8D8;
			opacity: 1;
		}
		#applicationForm :-ms-input-placeholder {
			color: #D8D8D8;
		}
		#applicationForm ::-ms-input-placeholder {
			color: #D8D8D8;
		}
		#applicationForm .formholder{
			background: #FFFFFF;
			margin: 0 auto;
			max-width: 920px;
			padding: 60px;
			-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,.16);
	        -moz-box-shadow: 0px 0px 40px rgba(0,0,0,.16);
	        -o-box-shadow: 0px 0px 40px rgba(0,0,0,.16);
	        -ms-box-shadow: 0px 0px 40px rgba(0,0,0,.16);
	        box-shadow: 0px 0px 40px rgba(0,0,0,.16);
	        margin-bottom: 60px;
		}
		#applicationForm .formholder br{
			display: none;
		}
		#applicationForm input[type="submit"]{
			font-family: 'avenir-black', sans-serif;
			border-color: #EA008B;
			color: #EA008B;
		}
		#applicationForm input[type="submit"]:hover{
			color: #FFFFFF;
		}
		#applicationForm input[type="submit"]:focus,
		#applicationForm input[type="submit"]:active{
			color: #FFFFFF;
		}
		#applicationForm .btn-holder{
			margin-top: 80px;
		}
		#applicationForm .btn-holder .btn{
			display: inline-block;
			position: relative;
		}
		#applicationForm .formholder .btn:before,
		#applicationForm .formholder .btn:after{
			position: absolute;
			content: '';
			-webkit-transition: all 0.2s;
	        -moz-transition: all 0.2s;
	        -o-transition: all 0.2s;
	        -ms-transition: all 0.2s;
	        transition: all 0.2s;
		}
		#applicationForm .formholder .btn:before{
			height: 4px;
			width: 40px;
			right: 40px;
			top: 41px;
			background: #EA008B;
			z-index: 3;
		}
		#applicationForm .formholder .btn:after{
			height: 0;
			width: 0;
			top: 38px;
			right: 34px;
			border-left: solid;
			border-left-width: 10px;
			border-left-color: #EA008B;
			border-top: solid;
			border-bottom: solid;
			border-top-width: 5px;
			border-bottom-width: 5px;
			border-top-color: transparent;
			border-bottom-color: transparent;
		}
		#applicationForm .formholder .btn:hover:before{
			background: #FFFFFF;
			right: 30px;
		}
		#applicationForm .formholder .btn:hover:after{
			right: 24px;
			border-left-color: #FFFFFF;
		}
		#applicationForm .formholder .file-holder{
			padding: 0px;
			position: relative;
			height: 80px;
			margin-bottom: 10px;
		}
		#applicationForm .formholder .file-holder .temp{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			background: #FFFFFF;
			border: solid;
			border-color: #F8F8F8;
			border-bottom-color: #F0F0F0;
			border-width: 4px;
			height: 80px;
			padding: 0 20px;
			font-size: 20px;
			line-height: 80px;
			font-family: 'avenir-heavy', sans-serif;
			text-align: left;
			text-transform: uppercase;
			color: #D8D8D8;
		}
		#applicationForm .formholder .file-holder .uploaded{
			color: #8F8F8F;
		}
		#applicationForm .formholder .file-holder input{
			position: absolute;
			width: 800px;
			top: 0;
			z-index: 3;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			filter: alpha(opacity=0);
			-khtml-opacity: 0;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			opacity: 0;
			cursor: pointer;
		}
		#applicationForm .formholder span.wpcf7-not-valid-tip{
			display: none;
		}
		#applicationForm .formholder input.wpcf7-not-valid,
		#applicationForm .formholder textarea.wpcf7-not-valid{
			border-bottom-color: red;
		}
		#applicationForm .formholder div.wpcf7-validation-errors,
		#applicationForm .formholder div.wpcf7-acceptance-missing,
		#applicationForm .formholder div.wpcf7-mail-sent-ok,
		#applicationForm .formholder div.wpcf7-response-output{
			border: solid 1px transparent !important;
			padding: 0 !important;
			margin: 0 !important;
			font-family: 'avenir-heavy', sans-serif;
			color: #691F7D;
		}

	/* ================================================
		1.7 Gallery - Single
	================================================ */

		.gallery{
			position: relative;
			overflow: hidden;
		}
		.gallery img.attachment-thumbnail{
			border: none !important;
		}
		.gallery .gallery-item{
			padding: 0px;
			margin: 0 !important;
			margin-top: 0 !important;
			width: 33.33% !important;
			position: relative;
		}
		.gallery br{
			display: none !important;
		}
		.gallery .gallery-icon img{
			width: 100%;
			height: auto;
			display: block;
			border: none !important;
		}
		.gallery .gallery-caption{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: rgba(0,0,0,.24);
			color: #FFFFFF;
			text-align: left;
			font-size: 12px;
			line-height: 15px;
			padding: 12px 20px;
			font-family: 'avenir-light', sans-serif;
		}
		#galleryPop{
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;			
			z-index: 999999999;
			text-align: center;
			display: none;
			background: rgba(28,28,28,.92);
		}
		#galleryPop img{
			width: 90%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		#galleryPop .holder{
			padding-top: 15px;
			padding-bottom: 15px;
		}
		#galleryPop img.close{
			position: absolute;
			top: 0px;
			right: 40px;
			height: 30px;
			width: 30px;
			z-index: 123;
			-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.40);
	        -moz-box-shadow: 0px 0px 12px rgba(0,0,0,.40);
	        -o-box-shadow: 0px 0px 12px rgba(0,0,0,.40);
	        -ms-box-shadow: 0px 0px 12px rgba(0,0,0,.40);
	        box-shadow: 0px 0px 12px rgba(0,0,0,.40);
		}
		#galleryPop ul.slides li{
			position: relative;
		}
		#galleryPop p{
			position: absolute;
			bottom: 0;
			left: 5%;
			width: 90%;
			padding: 20px;
			z-index: 12;
			font-size: 14px;
			line-height: 18px;
			padding: 20px 20px;
			font-family: 'avenir-light', sans-serif;
			color: #FFFFFF;
			background: rgba(0,0,0,.24);
		}
		#galleryPop .flex-direction-nav .flex-prev,
		#galleryPop .flex-direction-nav .flex-next{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			filter: alpha(opacity=100);
			-khtml-opacity: 1;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			opacity: 1;
			z-index: 11;
		}

	/* ================================================
		N. End of Style
	================================================ */


































