
	/* 	=================================================

		1. Media Query : Large Screen -> Desktop

	================================================= */

		@media only screen  and (max-width : 1680px){

			/* 	=================================================
					1.1 Overview
			================================================= */

				/* ====== 1.1.1 Overview ====== */

					body{
						padding-top: 78px;
					}
					button,
					input[type="submit"]{
				        height: 48px;
				        line-height: 48px;
				        border: solid 2px;
				        font-size: 12px;
				        padding: 0 60px 0 32px;
					}
					button:before{
						height: 2px;
						width: 20px;
						top: 22px;
						right: 26px;
					}
					button:after{
						border-left-width: 6px;
						border-top-width: 3px;
						border-bottom-width: 3px;
						top: 20px;
						right: 22px;
					}
					button:hover:before{
						right: 18px;
					}
					button:hover:after{
						right: 16px;
					}
					input, select, textarea{
						height: 48px;
						line-height: 48px;
						border-width: 2px;
						font-size: 13px;
						letter-spacing: 0px;
						padding: 0 20px 0 15px;
					}
					textarea{
						padding: 20px 15px;
						line-height: 20px;
						height: 160px;
					}
					.wrapper{
						max-width: 1120px;
					}
					.flex-control-nav{
						height: 10px;
						bottom: -60px;
					}
					.flex-control-nav li{									
						margin: 0 6px;
					}
					.flex-control-nav li a{
						height: 10px;
						width: 10px;
						line-height: 10px;
					}
					.read-more p{
						letter-spacing: 3px;
						font-size: 12px;
						line-height: 20px;
						padding-right: 40px;
					}
					.read-more p:before{
						height: 2px;
						width: 24px;
						top: 8px;
					}
					.read-more p:after{
						top: 6px;
						border-left: solid 6px #EA008B;
						border-top: solid 3px transparent;
						border-bottom: solid 3px transparent;
					}

				/* ====== 1.1.2 Header ====== */

					header{
						padding: 30px 60px 20px 60px;
					}
					header.homepage{
						margin-top: 20px;
					}
					header.fixed{
						margin-top: 0;
					}
					header .logo img{
						height: 20px;
					}
					nav ul li{
						margin-left: 40px;
					}
					nav ul li a{
						font-size: 18px;
						line-height: 24px;
					}

				/* ====== 1.1.3 Footer ====== */

					footer{
					}
					footer .top{
						padding: 80px 0 40px 0;
					}
					footer .bottom{
						padding: 40px 0 40px 0;
					}
					footer h4{
						font-size: 20px;
						line-height: 30px;
						margin-bottom: 10px;
					}
					footer ul li{
						margin-bottom: 0px;
					}
					footer ul li a{
						font-size: 16px;
						line-height: 30px;
					}
					footer img{
						height: 16px;
						margin-bottom: 5px;
					}
					footer .bottom p{
						font-size: 12px;
						line-height: 20px;
					}

			/* 	=================================================
					1.2 Home Page
			================================================= */

				/* ====== 1.2.1 Landing ====== */

					#homeLanding{
						margin-top: -78px;
					}
					#homeLanding .holder{
						max-width: 800px;
						padding-top: -webkit-calc(50vh - 125px);
				        padding-top: -moz-calc(50vh - 125px);
				        padding-top: -o-calc(50vh - 125px);
				        padding-top: -ms-calc(50vh - 125px);
				        padding-top: calc(50vh - 125px);
					}
					#homeSlider{
						height: 250px;
					}
					#homeLanding .icon{
						width: 250px;
						height: 250px;
					}
					#homeLanding .desc{
						width: -webkit-calc(100% - 250px);
				        width: -moz-calc(100% - 250px);
				        width: -o-calc(100% - 250px);
				        width: -ms-calc(100% - 250px);
				        width: calc(100% - 250px);
				        padding-left: 80px;
					}
					#homeLanding .icon img{
						height: 250px;
					}
					#homeLanding .desc h4{
						font-size: 40px;
						line-height: 40px;
						margin: 20px 0 20px 0;
					}
					#homeLanding .desc p{
						font-size: 20px;
						line-height: 30px;
						max-width: 480px;
					}
					#homeLanding .scroll{
				        bottom: 60px;
				        height: 40px;
				        width: 30px;
				        border-width: 2px;
				        -webkit-border-radius: 15px;
				        -moz-border-radius: 15px;
				        -o-border-radius: 15px;
				        -ms-border-radius: 15px;
				        border-radius: 15px;
				        margin-left: -15px;
					}
					#homeLanding .scroll .wheel{
					    height: 6px;
					    width: 6px;
					    margin-left: 10px;
					    margin-top: 5px;
					}

				/* ====== 1.2.2 What we do ====== */

					#whatWeDo .holder{
						height: 460px;
					}
					#whatWeDo h1{
						font-size: 54px;
						max-width: 680px;
					}

				/* ====== 1.2.3 Life at Daytona ====== */

					#lifeAtDaytona .holder{
						height: 660px;
					}
					#lifeAtDaytona .img{
						width: 680px;
					}
					#lifeAtDaytona .desc{
						width: -webkit-calc(100% - 680px);
				        width: -moz-calc(100% - 680px);
				        width: -o-calc(100% - 680px);
				        width: -ms-calc(100% - 680px);
				        width: calc(100% - 680px);
					}
					#lifeAtDaytona .desc .description{
						padding-left: 60px;
					}
					#lifeSlider,
					#lifeAtDaytona .image{
						height: 400px;
					}
					#lifeAtDaytona h2{
						font-size: 48px;
						line-height: 1;
						margin-bottom: 20px;
					}
					#lifeAtDaytona p{
						font-size: 20px;
						line-height: 30px;
						max-width: 300px;
					}

				/* ====== 1.2.4 Happy Employees ====== */

					#happyEmployees .holder{
						height: 600px;
					}
					#happyEmployees .employeesSliderHolder{
						max-width: 800px;
					}
					#happyEmployees .p-wrap{
						padding: 60px 0;
					}
					#happyEmployees .p-wrap:before,
					#happyEmployees .p-wrap:after{
						position: absolute;
						height: 72px;
						width: 96px;
					}
					#happyEmployees .p-wrap:before{
						content: url(../images/home/employees/quote-top-laptop.svg);
						top: 0;
						left: 0;
					}
					#happyEmployees .p-wrap:after{
						content: url(../images/home/employees/quote-bottom-laptop.svg);
						bottom: 0;
						right: 0;
					}
					#happyEmployees .p-wrap p{
						max-width: 600px;
						font-size: 20px;
						line-height: 30px;
					}
					#happyEmployees .info{
						max-width: 300px;
					}
					#happyEmployees .img{
						height: 80px;
						width: 80px;
					}
					#happyEmployees .desc{
						width: -webkit-calc(100% - 80px);
				        width: -moz-calc(100% - 80px);
				        width: -o-calc(100% - 80px);
				        width: -ms-calc(100% - 80px);
				        width: calc(100% - 80px);
				        padding: 20px 0 0 30px;
					}
					#happyEmployees .desc p{
						font-size: 16px;
						line-height: 16px;
					}
					#happyEmployees .desc p span{
						font-size: 12px;
					}

				/* ====== 1.2.5 Careers ====== */

					#careers .holder{
						padding: 80px 0 80px 0;
					}
					#careers .title h1,
					#news .title h1,
					#findUs .title h1,
					#sayHello .title h1,
					#services .title h1{
						font-size: 48px;
						line-height: 1;
						margin-bottom: 20px;
					}
					#careers .title p{
						font-size: 20px;
						line-height: 30px;
						max-width: 680px;
					}
					#careers .openings{
						max-width: 600px;
						margin-top: 60px;
						margin-bottom: 60px;
					}
					#careers .openings .one .post{
						padding: 30px;
					}
					#careers .openings .one .icon{
						height: 80px;
						width: 80px;
					}
					#careers .openings .one .desc{
						width: -webkit-calc(100% - 80px);
				        width: -moz-calc(100% - 80px);
				        width: -o-calc(100% - 80px);
				        width: -ms-calc(100% - 80px);
				        width: calc(100% - 80px);
				        padding-left: 40px;
					}
					#careers .openings .one .desc h4{
						font-size: 20px;
						line-height: 30px;
					}
					#careers .openings .one .desc p.defn{
						font-size: 13px;
						line-height: 20px;
						padding: 0px 0 10px 0;
					}
					#careers .openings .one .read-more p{
						font-size: 10px;
					}

				/* ====== 1.2.6 News & Events ====== */

					#news .holder{
						padding: 80px 0 80px 0;
					}
					#news .allHolder{
						max-width: 900px;
						margin-top: -220px;
						margin-bottom: 40px;
					}
					#news .one{
						width: 440px;
						height: auto;
						margin-right: 20px;
					}
					#news .one:nth-child(2n){
						margin-top: -120px;
						margin-right: 0;
					}
					#news .one .inner{
						width: 100%;
						height: auto;
						padding: 30px 40px 60px 40px;
					}
					#news p.date{
						line-height: 30px;
						font-size: 12px;
					}
					#news p.date:after{
						height: 2px;
						width: 12px;
						bottom: -10px;
					}
					#news h4{
						font-size: 20px;
						line-height: 30px;
						margin: 20px 0;
					}
					#news p.con{
						font-size: 13px;
						line-height: 20px;
						margin-bottom: 40px;
					}

				/* ====== 1.2.7 Find Us ====== */

					#findUs .holder{
						padding: 80px 0 160px 0;
					}
					#findUs .g-map{
						height: 400px;
					}
					#findUs .info{
				        height: auto;
				        padding: 68px 60px 140px 60px;
					}
					#findUs h4{
						font-size: 30px;
						line-height: 40px;
						margin-bottom: 20px;
					}
					#findUs h4:after{
						display: none;
					}
					#findUs ul{
						margin-bottom: 30px;
					}
					#findUs ul li{
						margin-bottom: 10px;
					}
					#findUs ul li .img{
						width: 20px;
					}
					#findUs ul li img{
						height: 20px;
						width: 20px;
					}
					#findUs ul li .def{
						width: -webkit-calc(100% - 20px);
				        width: -moz-calc(100% - 20px);
				        width: -o-calc(100% - 20px);
				        width: -ms-calc(100% - 20px);
				        width: calc(100% - 20px);
				        padding-left: 40px;
					}
					#findUs ul li p{
						font-size: 13px;
						line-height: 20px;
					}
					#findUs .info .btn{
						bottom: 92px;
						right: 0;
						left: 60px;
					}
					#findUs .info .btn .inner{
						text-align: left;
					}

				/* ====== 1.2.8 Say Hello ====== */

					#sayHello .holder{
						margin-top: -160px;
						padding: 160px 0 80px 0;
					}
					#sayHello .formholder{
						max-width: 680px;
						margin-top: 40px;
					}
					#sayHello .formholder .btn-holder{
						margin-top: 40px;
					}
					#sayHello .formholder .btn:before{
						height: 2px;
						width: 20px;
						top: 25px;
						right: 26px;
					}
					#sayHello .formholder .btn:after{
						border-left-width: 6px;
						border-top-width: 3px;
						border-bottom-width: 3px;
						top: 23px;
						right: 22px;
					}
					#sayHello .formholder .btn:hover:before{
						right: 18px;
					}
					#sayHello .formholder .btn:hover:after{
						right: 16px;
					}

			/* 	=================================================
					1.3 What We Do
			================================================= */

				/* ====== 1.2.1 Services ====== */

					#services .holder{
						padding: 80px 0 80px 0;
					}
					#services .services{
						margin: 0 auto;
						margin-top: 60px;
						max-width: 860px;
						padding: 20px;
					}
					#services .title p{
						font-size: 20px;
						line-height: 30px;
						max-width: 800px;
					}
					#services .one{
						padding: 40px 40px 48px 40px;
					}
					#services .one .icon{
						height: 102px;
						width: 102px;
					}
					#services .one .desc{
						width: -webkit-calc(100% - 102px);
				        width: -moz-calc(100% - 102px);
				        width: -o-calc(100% - 102px);
				        width: -ms-calc(100% - 102px);
				        width: calc(100% - 102px);
				        padding: 0 20px 0 48px;
					}
					#services .one .desc h4{
						font-size: 32px;
						line-height: 60px;
						margin-bottom: 20px;
					}
					#services .one .desc h4:after{
						bottom: -5px;
					}
					#services .one .desc p{
						font-size: 18px;
						line-height: 28px;
					}

			/* 	=================================================
					1.4 Gallery
			================================================= */

				/* ====== 1.4.1 Albums ====== */

					#albums h4{
						padding: 40px;
						font-size: 30px;
						line-height: 30px;
					}
					#albums .btn-holder,
					#albums ul.pagination{
						padding: 80px 0;
					}

			/* ================================================
				1.5 Error 404
			================================================ */

				#error404 .holder{
					padding: 120px 0;
				}
				#error404 h1{
					font-size: 60px;
					line-height: 80px;
				}
				#error404 h4{
					font-size: 32px;
					line-height: 40px;
				}

			/* ================================================
				1.6 News - Single
			================================================ */

				#newsSingle{
					padding-bottom: 80px;
				}
				ul.breadcrumb{
					padding: 40px 0;
				}
				#newsSingle .title h1{
					font-size: 54px;
					line-height: 1;
					max-width: 800px;
					margin: 0 auto;
				}
				#prevNext h2{
					font-size: 30px;
					line-height: 40px;
				}
				#prevNext h4{
					margin: 20px 0;
					font-size: 30px;
					line-height: 40px;
				}
				#prevNext p.desc{
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 20px;
				}
				#prevNext h4,
				#prevNext p.desc{
					max-width: 680px;
				}

			/* ================================================
				1.7 Careers - Single
			================================================ */

				.single-career-image img{
					height: 120px;
					margin-bottom: 40px;
				}
				.single-career-image h1{
					padding-bottom: 40px;
				}
				#applicationForm .formholder .btn:before{
					height: 2px;
					width: 20px;
					top: 25px;
					right: 26px;
				}
				#applicationForm .formholder{
					max-width: 680px;
					padding: 40px;
				}
				#applicationForm .formholder .btn:after{
					border-left-width: 6px;
					border-top-width: 3px;
					border-bottom-width: 3px;
					top: 23px;
					right: 22px;
				}
				#applicationForm .formholder .btn:hover:before{
					right: 18px;
				}
				#applicationForm .formholder .btn:hover:after{
					right: 16px;
				}
				#applicationForm .formholder .file-holder{
					height: 48px;
					margin-bottom: 10px;
				}
				#applicationForm .formholder .file-holder .temp{
					border-width: 2px;
					height: 48px;
					line-height: 48px;
					font-size: 13px;
					padding: 0 20px 0 15px;
				}
				#applicationForm .formholder .file-holder input{
					width: 600px;
				}
				#applicationForm .btn-holder{
					margin-top: 40px;
				}
		}

	/* 	=================================================

		2. Media Query : Desktop -> Tablet

	================================================= */

		@media only screen  and (max-width : 1320px){

			/* 	=================================================
					2.1 Overview
			================================================= */

				/* ====== 2.1.1 Overview ====== */

					input, select, textarea{
					}
					.flex-control-nav{
						bottom: -48px;
					}
					.wrapper{
						max-width: 900px;
					}
					#goToTop{
						right: 30px;
					}

				/* ====== 2.1.2 Header ====== */

					header{
						padding: 30px 40px 20px 40px;
					}
					header.homepage{
						margin-top: 10px;
					}
					header.fixed{
						margin-top: 0;
					}
					header .logo{
						width: 180px;
					}
					header .menu-holder{
						width: -webkit-calc(100% - 180px);
				        width: -moz-calc(100% - 180px);
				        width: -o-calc(100% - 180px);
				        width: -ms-calc(100% - 180px);
				        width: calc(100% - 180px);
					}
					nav ul li{
						margin-left: 30px;
					}
					nav ul li a{
						font-size: 16px;
						line-height: 24px;
					}

				/* ====== 2.1.3 Footer ====== */

					footer{
					}

			/* 	=================================================
					2.2 Home Page
			================================================= */

				/* ====== 2.2.1 Landing ====== */

					#homeLanding .height{
						height: 680px;
					}
					#homeLanding .scroll{
				        bottom: 40px;
					}
					#homeLanding .holder{
						max-width: 800px;
						padding-top: -webkit-calc(340px - 125px);
				        padding-top: -moz-calc(340px - 125px);
				        padding-top: -o-calc(340px - 125px);
				        padding-top: -ms-calc(340px - 125px);
				        padding-top: calc(340px - 125px);
					}

				/* ====== 2.2.2 What we do ====== */

					#whatWeDo .holder{
						height: 400px;
					}

				/* ====== 2.2.3 Life at Daytona ====== */

					#lifeAtDaytona .holder{
						height: 560px;
					}
					#lifeAtDaytona .img{
						width: 580px;
					}
					#lifeAtDaytona .desc{
						width: -webkit-calc(100% - 580px);
				        width: -moz-calc(100% - 580px);
				        width: -o-calc(100% - 580px);
				        width: -ms-calc(100% - 580px);
				        width: calc(100% - 580px);
					}
					#lifeAtDaytona .desc .description{
						padding-left: 40px;
					}
					#lifeSlider,
					#lifeAtDaytona .image{
						height: 334px;
					}

				/* ====== 2.2.4 Happy Employees ====== */

					#happyEmployees .holder{
						height: 520px;
					}

			/* 	=================================================
					2.4 Gallery
			================================================= */

				/* ====== 2.4.1 Albums ====== */

					#albums h4{
						font-size: 24px;
						line-height: 24px;
					}

			/* ================================================
				2.5 Error 404
			================================================ */

				#error404 .holder{
					padding: 80px 0 80px 0;
				}
				#error404 h1{
					font-size: 40px;
					line-height: 60px;
				}
				#error404 h4{
					font-size: 32px;
					line-height: 40px;
					max-width: 600px;
					padding: 0 40px;
					margin: 0 auto;
				}
		}

	/* 	=================================================

		3. Media Query : Tablet -> Mobile

	================================================= */

		@media only screen  and (max-width: 980px){

			/* 	=================================================
					3.1 Overview
			================================================= */

				/* ====== 3.1.1 Overview ====== */

					input, select, textarea{
					}
					.wrapper{
						max-width: 100%;
						width: 100%;
						padding: 0 20px;
					}
					.menuBtn{
						display: block;
					}
					.grecaptcha-badge{
						-webkit-opacity: 0 !important;
						-moz-opacity: 0 !important;
						filter: alpha(opacity=0) !important;
						-khtml-opacity: 0 !important;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
						opacity: 0 !important;
					}
					#goToTop{
						right: 12px;
						bottom: 16px;
					}

				/* ====== 3.1.2 Header ====== */
					
					header{
						padding: 30px 0 20px 0;
					}
					header.homepage{
						margin-top: 0;
						background: #FFFFFF;
						border-color: #D8D8D8;
						-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
				       	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
				        -o-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
				        -ms-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
				        box-shadow: 0px 0px 1px rgba(0,0,0,.1);
					}
					header{
						text-align: center;
					}
					header .logo{
						float: none;
						display: inline-block;
						vertical-align: top;
					}
					nav{
						width: 268px;
						position: fixed;
						top: 0;
						left: 0;
						z-index: 999999;
						height: 100vh;
						padding: 0;
						padding-bottom: 120px;
						left: -268px;
						overflow-y: scroll;
						-webkit-transition: all 0.4s;
				        -moz-transition: all 0.4s;
				        -o-transition: all 0.4s;
				        -ms-transition: all 0.4s;
				        transition: all 0.4s;
				        background-image: -webkit-linear-gradient(45deg, #691F7D, #EA008B);
						background-image: -moz-linear-gradient(45deg, #691F7D, #EA008B);
						background-image: -o-linear-gradient(45deg, #691F7D, #EA008B);
						background-image: -ms-linear-gradient(45deg, #691F7D, #EA008B);
						background-image: linear-gradient(45deg, #691F7D, #EA008B);
					}
					nav.open{
						left: 0;
					}
					nav .menu-header-menu-container,
					nav ul{
						display: block;
					}
					nav ul{
						padding: 0 20px;
						padding-top: 80px;
					}
					nav ul li{
						text-align: left;
						margin-left: 0;
						display: block !important;
					}
					nav ul li a{
						font-size: 15px;
						line-height: 52px;
						border-bottom: solid 1px rgba(0,0,0,.08);
						display: block;
						color: rgba(255,255,255,.54);
						padding: 0 15px;
					}
					nav ul li a{
						color: rgba(255,255,255,.54);
					}
					nav ul li a{
						color: rgba(255,255,255,.54);
					}
					nav ul li a:hover,
					nav ul li a.current,
					nav ul li.current-menu-item a,
					nav ul li.current-menu-item a{
						color: rgba(255,255,255,1);
					}
					nav ul li:last-child a{
						border-bottom: none;
					}

				/* ====== 3.1.3 Footer ====== */

					footer .wid-1-4{
						text-align: center;
					}

			/* 	=================================================
					3.2 Home Page
			================================================= */

				/* ====== 3.2.1 Landing ====== */

					#homeLanding .height{
						height: 560px;
					}
					#homeLanding .holder{
						max-width: 480px;
						padding: 0 20px;
						padding-top: -webkit-calc(240px - 100px);
				        padding-top: -moz-calc(240px - 100px);
				        padding-top: -o-calc(240px - 100px);
				        padding-top: -ms-calc(240px - 100px);
				        padding-top: calc(240px - 100px);
					}
					#homeSlider{
						height: 240px;
					}
					#homeLanding .icon{
						display: none;
					}
					#homeLanding .desc{
						width: 100%;
						padding-left: 0;
						text-align: center;
					}
					#homeLanding .desc p{
						max-width: 100%;
					}

				/* ====== 3.2.2 What we do ====== */

					#whatWeDo .holder{
						height: auto;
					}
					#whatWeDo .v-cover,
					#whatWeDo .v-one{
						position: relative;
						text-align: center;
					}
					#whatWeDo h1{
						margin: 0 auto;
						max-width: 480px;
						padding: 80px 0;
						display:inline-block;
						font-size: 40px;
					}

				/* ====== 3.2.3 Life at Daytona ====== */

					#lifeAtDaytona{
						border-bottom: solid 1px #F0F0F0;
					}
					#lifeAtDaytona .holder{
						height: auto;
					}
					#lifeAtDaytona .v-cover,
					#lifeAtDaytona .v-one{
						position: relative;
					}
					#lifeAtDaytona img.bg-img{
						display: none;
					}
					#lifeAtDaytona .img,
					#lifeAtDaytona .desc{
						width: 100%;
					}
					.lifeSliderHolder{
						max-width: 400px;
						margin: 0 auto;
						margin-top: 80px;
					}
					#lifeSlider,
					#lifeAtDaytona .image{
						height: 300px;
					}
					#lifeAtDaytona .desc .description{
						padding-left: 0;
						text-align: center;
					}
					#lifeSlider{
						margin-bottom: 80px;
					}
					#lifeAtDaytona h2{
						font-size: 32px;
						padding: 20px 0;
					}
					#lifeAtDaytona p{
						margin: 0 auto;
						max-width: 480px;
						margin-bottom: 80px;
					}

				/* ====== 3.2.4 Happy Employees ====== */

					#happyEmployees .employeesSliderHolder{
						width: 100%;
						max-width: 100%;
					}
					#happyEmployees .p-wrap{
						padding: 0;
						margin-bottom: 20px;
					}
					#happyEmployees .p-wrap:before,
					#happyEmployees .p-wrap:after{
						display: none;
					}
					#happyEmployees .p-wrap p{
						padding: 0 20px;
					}
					#happyEmployees .info{
						text-align: center;
					}
					#happyEmployees .img{
						height: 60px;
						width: 60px;
						display: inline-block;
						margin-bottom: 20px;
						float: none;
						vertical-align: top;
					}
					#happyEmployees .desc{
						width: 100%;
						padding: 0;
						text-align: center;
					}

				/* ====== 3.2.5 Careers ====== */

					#careers .title{
						text-align: center;
					}
					#careers .holder{
						border-bottom: solid 1px #F0F0F0;
					}
					#careers .title h1,
					#news .title h1,
					#findUs .title h1,
					#sayHello .title h1,
					#services .title h1{
						font-size: 32px;
						line-height: 1;
						margin-bottom: 20px;
					}
					#careers .title p{
						margin: 0 auto;
					}
					#careers .openings .one{
						border-bottom: solid 1px #F0F0F0;
					}
					#careers .openings .one:last-child{
						border-bottom: none;
					}
					#careers .openings .one .desc p.defn{
						padding: 0px 0 0px 0;
					}

				/* ====== 3.2.6 News & Events ====== */

					#news{
						border-bottom: solid 1px #F0F0F0;
					}
					#news .title{
						text-align: center;
					}
					#news .allHolder{
						padding-top: 0;
					}
					#news .allHolder,
					#news .one:nth-child(2n){
						margin-top: 0;
					}
					#news .allHolder{
						margin-top: 40px;
						padding-top: 10px;
					}
					#news .one{
						width: 100%;
						margin-right: 0;
						padding: 0 10px;
						margin-bottom: 20px;
					}
					#news .one .inner{
						-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
				        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
				        -o-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
				        -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
				        box-shadow: 0px 0px 10px rgba(0,0,0,.12);
				        padding: 30px 30px 48px 40px
					}
					#news .one:nth-child(2n){
						margin-bottom: 20px;
					}
					#news .one:last-child{
						margin-bottom: 10px;
					}
					#news h4{
						margin: 20px 0 10px 0;
					}
					#news p.con{
						margin-bottom: 20px;
					}

				/* ====== 3.2.7 Find Us ====== */

					#findUs .holder{
						text-align: center;
						padding: 80px 0 0 0;
					}
					#findUs .title{
						text-align: center;
					}
					#findUs .g-map{
						height: 368px;
						width: 100%;
						margin-top: 40px;
					}
					#findUs .info{
						position: relative;
						top: 0;
						width: auto;
						max-width: 480px;
						margin: 0 auto;
						text-align: left;
						margin-top: 40px;
						margin-bottom: 40px;
						padding: 40px 40px 60px 40px;
					}
					#findUs .info .btn{
						position: relative;
						bottom: 0;
						right: 0;
						left: 0;
						margin-top: 60px;
					}
					#findUs .info .btn .inner{
						text-align: center;
					}
					#findUs h4{
						font-size: 20px;
						margin-bottom: 10px;
					}

				/* ====== 3.2.8 Say Hello ====== */

					#sayHello .holder{
						padding: 80px 0;
						margin-top: 0;
					}
					#sayHello .title{
						text-align: center;
					}
					#sayHello .formholder{
						max-width: 480px;
						margin: 0 auto;
					}
					#sayHello .formholder .btnholder{
						text-align: center;
					}

			/* 	=================================================
					3.3 What We Do
			================================================= */

				/* ====== 3.3.1 Services ====== */

					#services .holder{
						border-bottom: solid 1px #D8D8D8;
					}
					#services .title{
						text-align: center;
					}
					#services .title p{
						max-width: 720px;
						margin: 0 auto;
						margin-bottom: 40px;
					}
					#services .services{
						max-width: 680px;
					}
					#services .one .icon{
						display: none;
					}
					#services .one .desc{
						width: 100%;
				        padding: 0;
					}

			/* 	=================================================
					3.4 Gallery
			================================================= */

				/* ====== 3.4.1 Albums ====== */

					#albums{
						border-bottom: solid 1px #D8D8D8;
					}
					#albums .image{
						width: 50%;
					}
					#albums h4{
						font-size: 20px;
						line-height: 20px;
						width: 100%;
						padding: 30px 30px 30px 30px;
						bottom: 0;
						-webkit-opacity: 1;
						-moz-opacity: 1;
						filter: alpha(opacity=100);
						-khtml-opacity: 1;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						opacity: 1;
						background: rgba(0,0,0,.4);
					}

			/* ================================================
				3.5 Error 404
			================================================ */

				#error404 .holder{
					padding: 80px 0 40px 0;
				}

			/* ================================================
				3.6 News - Single
			================================================ */

				#prevNext .one .inner{
					padding: 30px 20px 40px 30px;
				}

			/* ================================================
				3.7 News - Single
			================================================ */

				#newsSingle{
					padding-bottom: 20px;
				}
				ul.breadcrumb{
					padding: 20px 0;
				}
				ul.breadcrumb li{
					font-size: 11px;
					line-height: 16px;
				}
				#newsSingle .title h1{
					font-size: 30px;
					line-height: 36px;
					max-width: 520px;
				}
				#newsSingle .title p.date{
					font-size: 12px;
					margin-top: 20px;
					margin-bottom: 20px;
				}
				#prevNext h2{
					font-size: 20px;
					line-height: 30px;
				}
				#prevNext p.date{
					font-size: 12px;
					line-height: 40px;
				}
				#prevNext p.date:after{
					bottom: 0px;
				}
				#prevNext h4{
					font-size: 20px;
					line-height: 28px;
				}
				#prevNext h4,
				#prevNext p.desc{
					max-width: 520px;
				}

			/* ================================================
				3.7 Careers - Single
			================================================ */

				.apply-btn{
					padding-bottom: 80px;
				}
				#careers .title p.full{
					max-width: 648px;
				}
				.single-career-image img{
					height: 80px;
					margin-bottom: 20px;
				}
				.single-career-image h1{
					padding-bottom: 20px;
				}
				#applicationForm{
					padding: 0 40px 40px 40px;
				}
				#applicationForm h4{
					margin-bottom: 40px;
					font-size: 24px;
					line-height: 28px;
				}
				#applicationForm h4:before,
				#applicationForm h4:after{
					top: 14px;
				}

			/* ================================================
				3.8 Gallery - Single
			================================================ */

				.gallery .gallery-item{
					width: 50% !important;
				}
		}

	/* 	=================================================

		3. Media Query : Tablet -> Mobile

	================================================= */

		@media only screen  and (max-width: 520px){

			/* 	=================================================
					3.1 Overview
			================================================= */

				/* ====== 3.1.1 Overview ====== */

					input, select, textarea{
					}
					.din-black{
						letter-spacing: -1px;
					}
					p{
						color: #242424;
					}

				/* ====== 3.1.2 Header ====== */
					
					header{
					}

				/* ====== 3.1.3 Footer ====== */

					footer .wid-1-4{
						width: 100%;
						margin-bottom: 20px;
						padding-bottom: 20px;
						border-bottom: solid 1px rgba(0,0,0,.1);
					}
					footer .wid-1-4:last-child{
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: none;
					}
					footer h4{
						margin-bottom: 0px;
					}
					footer ul li a{
						color: rgba(255,255,255,.68);
					}						

			/* 	=================================================
					3.2 Home Page
			================================================= */

				#homeLanding .flex-control-nav,
				#particles-js{
					display: none;
				}
				#homeLanding .desc h4{
					font-size: 28px;
					line-height: 28px;
				}
				#whatWeDo h1{
					font-size: 32px;
					max-width: 100%;
				}
				#findUs .g-map{
					height: 280px;
				}
				.lifeSliderHolder{
					-moz-box-shadow: none;
			  		-webkit-box-shadow: none;
			  		-o-box-shadow: none;
			  		-ms-box-shadow: none;
			  		box-shadow: none;
				}
				#happyEmployees .holder{
					height: auto;
				}
				#happyEmployees .v-cover,
				#happyEmployees .v-one{
					position: relative;
				}
				#happyEmployees .v-one{
					padding: 80px 0;
				}
				#employeesSlider .flex-control-nav{
					position: relative;
					bottom: 0;
					padding-top: 40px;
				}
				#employeesSlider .flex-control-nav ul{
					padding-top: 40px;
				}
				#careers{
					border-top: solid 1px #F0F0F0;
				}
				#careers .openings{
					-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
			        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
			        -o-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
			        -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.12);
			        box-shadow: 0px 0px 10px rgba(0,0,0,.12);
				}
				#careers .openings .one .post{
					padding: 24px 20px 20px 20px;
				}
				#careers .openings .one .icon{
					height: 48px;
					width: 48px;
				}
				#careers .openings .one .desc{
					width: -webkit-calc(100% - 48px);
			        width: -moz-calc(100% - 48px);
			        width: -o-calc(100% - 48px);
			        width: -ms-calc(100% - 48px);
			        width: calc(100% - 48px);
			        padding-left: 28px;
				}
				#news img.image{
					display: none;
				}
				#news .one .inner{
					padding: 24px 20px 40px 28px;
				}
				#findUs .info{
					margin-top: 0px;
					margin-bottom: 0px;
				}

			/* 	=================================================
					3.3 What We Do
			================================================= */

				#services .services{
					padding: 0;
				}
				#services .one{
					padding: 20px 30px 40px 30px;
				}

			/* 	=================================================
					3.4 Gallery
			================================================= */

				#albums .image{
					width: 100%;
				}
				#newsSingle .col{
					padding-left: 20px;
					padding-right: 20px;
				}

			/* 	=================================================
					3.5 Gallery - Single
			================================================= */

				.gallery .gallery-item{
					width: 100% !important;
					margin-bottom: 10px !important;
				}
				.gallery .gallery-caption{
					font-size: 11px;
					line-height: 14px;
					padding: 15px;
				}
				#galleryPop{
					display: none !important;
				}

			/* 	=================================================
					3.6 Career - Single
			================================================= */

				#applicationForm{
					padding: 0;
				}
				#applicationForm .formholder{
					max-width: 480px;
					padding: 30px 20px;
				}
		}







